@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

body {
    background-color: rgb(56, 56, 56);
}

.nav-item .nav-link {
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 20px;

}

.nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
}


.navbar-brand {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.navbar-brand:hover {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: rgb(238, 238, 238) !important;
    box-shadow: 0 0px 0px 0 rgba(66, 66, 66, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.nav-item .nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    background: rgb(155, 202, 255);
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-item .nav-link {
    color: black;
}

.nav-item .nav-link:hover {
    color: black;
}

.nav-item .nav-link:hover:after {
    transform: scaleX(1);
}


#loginform {
    position: relative !important;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px;
    width: 30%;
    height: 450px;
    margin: auto;
    text-align: center;
}

input {
    background: transparent;
    border: 10px solid white;
    margin: 20px;
}

.form-control::placeholder { 
    color: white
  }

.form-control {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.container-fluid #header-name h2 {
    padding-top: 40px;
    font-size: 60px;
    position: relative
}

.container-fluid #header-name p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.container-fluid #header-name h2::after {
    content: '';
    width: 100%;
    margin: auto;
    position: absolute;
    height: 3px;
    background: rgb(155, 202, 255);
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: transform .9s;
}

.container-fluid #header-name h2:hover:after {
    transform: scaleX(1);
}

#maincontent {
    width: 40%;
    margin: auto;
    border: 0.3px solid rgb(155, 202, 255);
    border-radius: 4px;
}



#practice-div {
    width: 60%;
    border: solid 0.3px rgb(155, 202, 255);
    margin: auto;
    padding: 10px;
}

#termm {
    display: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

#meaning {
    display: none;
    color: rgb(155, 202, 255);
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

#next{
    font-size: 15px;
}


