{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container-fluid" id="header-name">
  <h2>Welcome to FlashCards50!</h2>
  <p>Add, Edit, and Practice your new vocabulary <br>Make your language learning journey more fun!</p>
</div>
<!----
<div class="container-fluid" id="maincontent">
  <h4 style="padding-top: 10px;">Usage</h4>
  <ul style="list-style-type: none;">
    <li>Add: Add words to your dictonary.</li>
    <li>Practice: Used to do quick preperation with words from your dictonary.</li>
    <li>Quiz: Test your knowledge in a simple quiz!</li>
    <li>Vocabulary: View your dictonary, and delete words from it.</li>
  </ul>
</div>
{% endblock %}