{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
    <div class="mb-3" id="passingdiv" style="display: none;">{{ termdata | tojson }}</div>  
        <div class="mb-3" id="quizterm"></div>
        <div class="mb-3" id="quizcorrect" style="display: none;"></div>
        <div class="mb-3">
            <input type="text" id="quizmeaning" class="form-control mx-auto w-auto"></input>
            <p id="feedback2"></p>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-outline-light" id="submm">Check</button>
            <button type="button" class="btn btn-outline-light" id="nextt">Next</button>
        </div>


    <script src="../static/quiz.js"></script>

{% endblock %}