{% extends "layout.html" %}

{% block title %}
    Vocab
{% endblock %}

{% block main %}
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for vocab in vocabs %}
          <tr>
            <th scope="row"></th>
            <td>{{ vocab.word }}</td>
            <td>{{ vocab.meaning }}</td>
            <td>
                <form action="/vocab" method="post">
                    <input type="hidden" name="valuee" value="{{vocab.id}}">
                    <button class="btn btn-outline-light" type="submit" name="submit_btn">Delete</button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}