{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
<div class="container-fluid" id="loginform" style="height: 440px;">
    <h3 style="padding-top: 10px; padding-bottom: 20px;">Add</h3>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="word" placeholder="Word" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="meaning" placeholder="Meaning" type="text">
        </div>
        <button class="btn btn-outline-light" type="submit" style="margin-top: 20px;">Add</button>
    </form>
</div>
{% endblock %}